<!-- 운영 Sentry 이벤트와 로그 수집을 연결하는 Logback 설정 -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
        <minimumLevel>INFO</minimumLevel>
    </appender>

    <springProfile name="dev | prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="SENTRY"/>
        </root>
    </springProfile>

    <springProfile name="!dev &amp; !prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
